<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")
	
	<style>
		h1.big {
			font-size: 70px;
		}

		#game-container {
			 width: 801px; 
			 height: 600px; 
			 background: #eee; 
			 margin: 20px auto;
			 border-top: 1px solid #ddd;
			 border-left: 1px solid #ddd;
		 }	

		.game-entity {
			width:50px; 
			height: 50px;
			border-bottom: 1px solid #ddd;
			border-right: 1px solid #ddd;
			margin: 0;
			padding: 0;
			padding: 5px;
		}

		.game-entity.obstacle {
			background: grey;
			border: 0;
		}

		.game-entity.goal {
			background: aqua;
			border: 0;
		}

		.game-entity .ball {
			background: orange;
			border-radius: 25px;
			width: 40px; 
			height: 40px;
		}
	</style>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				@Html.ActionLink("sg_ballgame", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li>@Html.ActionLink("Home", "Index", "Home")</li>
					<li>@Html.ActionLink("Game", "Game", "Home")</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
		<hr />
		<footer>
			<p>&copy; @DateTime.Now.Year - #yolo</p>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
